
<ol id = "listData">
    <% listData.forEach((elem)=>{%>
    <li>
        <div id=<%=elem.id%> onclick="load(this)">
            <%=elem.name%>
            <p>
            <%=elem.author%>
        </div>

    </li>
    <%});%>
</ol>
