<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%- include('ui/book_list')%>
<button id ="1" onclick="load(this)"> Click!</button>

<script src = "../public/ajax.js"></script>
</body>
</html>